.tableWrap {
  overflow: auto;
  margin: 2rem 0;
  position: relative;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table {
  width: 100%;
}
.table th {
  padding: 0.5rem;
  background-color: #cbd5e1;
}
.table tr.studentNameRow {
  position: sticky;
  top: 0;
  width: 100%;
}
.table td {
  font-weight: 500;
  padding: 0.5rem;
}
.table th,
td {
  text-wrap: nowrap;
}
.table tr {
  transition: 0.2s;
}
.table tr:hover,
.table tr:focus {
  background-color: #ffc1078c;
}
.even {
  background-color: #f8fafc;
}
.odd {
  background-color: #cbd5e150;
}
@media (max-width: 768px) {
  .todayMealWrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 568px) {
  .todayMealWrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 375px) {
  .todayMealWrap {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}
