.mealFormWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 560px) {
  .mealFormWrap {
    flex-direction: column;
    gap: 0rem;
  }
}
