.todayMealWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: 3rem 0;
}
.tableWrap {
  overflow: auto;
  margin: 2rem 0;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table {
  width: 100%;
}
.table th {
  padding: 0.5rem;
  background-color: #cbd5e1;
}
.table td {
  font-weight: 500;
  padding: 0.5rem;
}
.table th,
td {
  text-wrap: nowrap;
}
.even {
  background-color: #f8fafc;
}
.odd {
  background-color: #cbd5e150;
}
@media (max-width: 768px) {
  .todayMealWrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 568px) {
  .todayMealWrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 375px) {
  .todayMealWrap {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
}
