.todayMealWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: 3rem 0;
}
.tableWrap {
  overflow: auto;
  margin: 2rem 0;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table {
  width: 100%;
}
.table th {
  padding: 0.5rem;
  background-color: #cbd5e1;
}
.table td {
  font-weight: 500;
  padding: 0.5rem;
}
.table th,
td {
  text-wrap: nowrap;
}
.table tr {
  transition: 0.2s;
}
.table tr:hover,
.table tr:focus {
  background-color: #ffc1078c;
}
.even {
  background-color: #f8fafc;
}
.odd {
  background-color: #cbd5e150;
}
