.navItems {
  display: flex;
  gap: 1.5rem;
}
.navItem {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
}
.navItem:hover {
  font-weight: 800;
}

.menuBar {
  display: none;
}

.active {
  transition: 0.2s;
  transform: rotate(45deg);
}

.inActive {
  transition: 0.2s;
  transform: rotate(0deg);
}

.active {
  font-weight: 800;
  color: #3625a0;
}

@media (max-width: 1440px) {
  .navItem {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .navItemsWrap {
    position: relative;
  }
  .navItems {
    width: 100%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 6rem;
    background-color: #f1f5f9;
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 1rem;
    transition: 0.3s;
    transform-origin: top;
    transform: scaleY(0);
    z-index: 999;
  }
  .collapse {
    transform: scaleY(1);
  }
  .navItem {
    font-size: 1.3rem;
    color: #000000;
  }
  .menuBar {
    display: initial;
    position: absolute;
    right: 9rem;
  }
  .menuBar > img {
    width: 2.3rem;
    cursor: pointer;
  }
}

@media (max-width: 420px) {
  .menuBar {
    right: 8rem;
  }
}
